## SETUP ENVIRONMENT VARIABLES
ELASTIC_VERSION=8.11.3
ELASTIC_PASSWORD='changeme'
KIBANA_SYSTEM_PASSWORD='changeme'
METRICBEAT_INTERNAL_PASSWORD='' ## Optionnel
FILEBEAT_INTERNAL_PASSWORD='' ## Optionnel
HEARTBEAT_INTERNAL_PASSWORD='' ## Optionnel
MONITORING_INTERNAL_PASSWORD='' ## Optionnel
BEATS_SYSTEM_PASSWORD='' ## Optionnel
LOGSTASH_INTERNAL_PASSWORD="changeme"
KIBANA_SYSTEM_PASSWORD="changeme"
MINIO_DEFAULT_BUCKETS="aitwork"

# Ports pour les services
BACK_PORT=8080
MONGODB_PORT=27017
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_TCP_PORT=9300
LOGSTASH_BEATS_PORT=5044
LOGSTASH_TCP_PORT=50000
LOGSTASH_UDP_PORT=50000
LOGSTASH_MONITORING_PORT=9600
KIBANA_PORT=5601
FRONT_PORT=3000

## BACKEND ENVIRONMENT VARIABLES
LICENSE_IADOPT="" ## If you want to use IADOPT API
OPENAI_API_KEY="" ## If you want to use OpenAI API
COHERE_API_KEY="" ## If you want to use Cohere API
REPLICATE_API_TOKEN="" ## If you want to use Replicate API
WEBSITE_URL="" ## URL of the website
CLIENT_JWT_SECRET="" ## Genereate Random string
WEBSITE_JWT_SECRET="" ## Generate Random String
REACT_APP_API_URL="" ## URL of the client API
MONGODB_URL="mongodb://mongodb:${MONGODB_PORT:-27017}/Aitwork"
ELASTICSEARCH_URL="http://elasticsearch:${ELASTICSEARCH_PORT:-9200}"
ELASTICSEARCH_USERNAME="elastic"
ELASTICSEARCH_PASSWORD="changeme"
MINIO_ENDPOINT="minio"
MINIO_ROOT_USER="minio"
MINIO_ROOT_PASSWORD="minio123"
MINIO_BUCKET="aitwork"
MINIO_BROWSER_REDIRECT_URL="" ## URL of the minio server
MINIO_SERVER_URL="" ## URL of the minio server

## BACKEND OPTIONNAL ENVIRONMENT VARIABLES
OPENROUTER_API_KEY="" ## If you want to use OpenRouter API

## FRONTEND ENVIRONMENT VARIABLES
REACT_APP_API_URL="" ## URL of the client API
