.parameters {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    width: 100%;
    flex-direction: column;

    .param-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;

        &.single {
            flex-grow: 1;
        }

        &.double {
            flex-grow: 1;
        }

        &.click {
            .param-button {
                &.active {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .spinner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 50px;
                    height: 50px;
                }

                .spinner-circle {
                    border: 3px solid rgba(255, 255, 255, 0.3);
                    border-radius: 50%;
                    border-top-color: #fff;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    animation: spin 1s ease-in-out infinite;
                }

                .spinner-text {
                    z-index: 1;
                    font-size: 12px;
                    font-family: $font-paragraphe;
                }

                svg {
                    height: 80%;
                    width: auto;
                }

                @keyframes spin {
                    to {
                        transform: rotate(360deg);
                    }
                }


            }
        }

        h3 {
            margin-left: 5px;
        }

        h4 {
            margin: 10px;
        }

        .header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @include xs {
                gap: 0;
            }

            @include sm {
                gap: 0;
            }

            @include md {
                gap: 0;
            }



            .toggle-all-button {
                flex: 1;
                cursor: pointer;
                white-space: nowrap;
                text-align: right;


                @include xs {
                    font-size: 10px;
                }

                @include sm {
                    font-size: 10px;
                }

                @include md {
                    font-size: 10px;
                }

                &:hover {
                    text-decoration: underline;
                    transform: scale(1.01);
                }
            }
        }

        .param-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid white;
            position: relative;
            height: 8vh;

            &.valid {
                cursor: auto;

                &:hover {
                    background-color: initial;
                }
            }

            img {
                width: auto;
                height: 80%;
            }

            .pdf-function {
                display: flex;
                align-items: center;
                height: 70%;
                width: 90%;
                overflow: hidden;
                gap: 10px;
                position: relative;
                box-sizing: border-box;

                .logo {
                    height: 100%;

                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-family: $font-paragraphe;
                    width: 50%;

                    .title,
                    .pages {
                        text-overflow: ellipsis;
                        overflow: hidden; // Added this line
                        white-space: nowrap; // Added this line
                        width: 100%; // Added this line
                    }
                }
            }

            .checklist-container {
                overflow: auto;
                max-height: 100%;
                max-width: 100%;
                flex: 1;

                .buttons {
                    gap: 5px;
                    display: flex;
                    flex-wrap: wrap;

                    .btn {
                        border-radius: 20px;
                    }
                }

                &::-webkit-scrollbar {
                    width: 4px;
                    border-radius: 8px;
                    // background-color: lighten($primary-color, 20%);
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 2px;
                    background-color: lighten($primary-color, 20%);
                }
            }

            .checked {
                z-index: 1000;
                position: absolute;
                bottom: -21%;
                right: -1rem;
                width: 2rem;

                &::before {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(128, 128, 128, 0.5);
                border-radius: 10px;
            }
        }

        .textbox {
            flex-grow: 1;
            input {
                padding: 10px;
                width: calc(100% - 20px);
                overflow: auto;
                background: none;
                border: 1px solid rgb(255, 255, 255);
                border-radius:5px;
                vertical-align: middle;
            }
        }
    }
}